<div class="header">
    <div class="header-logo">
        <a href="#">
            <img id="header-logo-img" src="/images/lifeel-logo.png" alt="bu bir logodur.">
            <h1 id="header-logo-title"> Lifeel </h1>
        </a>
    </div>
    <div class="header-menu">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="#">Hizmetler</a></li>
            <li><a href="#">Topluluk</a></li>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
    </div>
    <div class="header-operations">
        <a href="#">
            <img id="header-operations-logo" src="/images/notifications-logo.png" alt="">
        </a>
        <a id="header-operations-button" href="#">HESABIM</a>
    </div>
</div>