<div class="main-menu">
    <ul>
        <li><a href="/profile">Profil Görüntüle</a></li>
        <li><a href="/profile-detail">Profil Detayları</a></li>
        <li><a href="sports-programs">Spor Programlarım</a></li>
        <li><a href="nutrition-programs">Beslenme Programlarım</a></li>
        <li><a href="performance-and-analysis">Performans ve Analiz</a></li>
    </ul>
</div>