@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


        

.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    background-color: #FCFCFF;
    box-shadow: 1px 1px 5px #ababab;
}
.header-logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px 15px 30px;
    text-decoration: none;
    color: black;

}
#header-logo-img{
    width: 26px;
    height: 27px;
    margin-right: 5px;
}
#header-logo-title{
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.header-menu ul{
    display: flex;
}
.header-menu ul li {
    margin-right: 20px;
}

.header-menu ul li a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #202142;
    font-size: 16px;
    font-weight: 400;
}

.header-menu ul li a:hover {
    color: #9496cc;

}

.header-operations{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-operations-logo{
    width: 28px;
    height: 28px;
    margin-right: 20px;
    display: flex;
    align-items: center;

    justify-content: center;
    
}
#header-operations-button{
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #202142;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#header-operations-button:hover{

    font-family: "Poppins", sans-serif;
    background-color: #43447a;
    
}

/*main*/

.main{
    display: flex;
    padding: 50px 100px;
}

.main-menu ul li{
    margin-bottom: 20px;
}
.main-menu ul li a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #202142;
}

.main-menu ul li:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 44px;
    background-color: #FCFCFF;
    border-radius: 32px;
    border: 1px solid #EFEFFF;
    box-shadow: 1px 1px 5px #ababab;
}



.main-menu ul li:nth-child(n+3) a  {
    margin-left: 12px;
    display: block;
    width: 220px;
}
.main-menu ul li:nth-child(1) a  {
    margin-left: 12px;
    display: block;
    width: 220px;
}

.main-menu ul li:nth-child(n+3) a:hover  {
    color: #9496cc;

}
.main-menu ul li:nth-child(1) a:hover  {
    color: #9496cc;

}
.main-vertical-stick{
    width: 1px;
    height: 350px;
    border: 1px solid #878787;
    margin-left: 50px;
    margin-right: 80px;
}

/*m*/

.main-profile-information{
    padding-top: 30px;
}

.main-profile-information-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}

.main-profile-information-top h1{
    margin-bottom: 35px;
}

.main-profile-information-top form {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.profile-information-top-form-input{
    margin-right: 35px;
}

.profile-information-top-form-input span{
    display: block;
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 3px;
}

.profile-information-top-form-input input{
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #C3C3E4;
    font-size: 20px;
}

.main-profile-information-top form button {
    width: 120px;
    height: 50px;
    background-color: #202142;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.main-profile-information-top form button:hover {
    
    background-color: #5e6387;
    
}

/*mid*/

.main-profile-information-mid {
    margin-bottom: 60px;
}

.main-profile-information-mid h1{
    margin-bottom: 20px;
}

.main-profile-information-mid-cards{
    display: flex;
    align-items: center;
}

.main-profile-information-mid-card{
    width: 250px;
    height: 180px;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);


}

#main-profile-information-mid-card-last{
    width: 190px;
    height: 140px;
    border-radius: 10px;
    background-color: rgba(225, 225, 225, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

#main-profile-information-mid-card-last:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 50%);

}

#main-profile-information-mid-card-last a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-profile-information-mid-card:nth-child(2n+1){
   
    background-color: rgba(224, 250, 229, 60%);
}

.main-profile-information-mid-card:nth-child(2n){
   
    background-color: rgba(250, 231, 224, 60%);
}


.main-profile-information-mid-card h3 {
    margin: 10px 0px 10px 20px;
}

.main-profile-information-mid-card ul {
    margin-left: 60px;
}
.main-profile-information-mid-card li {
    margin-bottom: 10px;
    list-style-type:disc;
}

.main-profile-information-mid-card-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.main-profile-information-mid-card-buttons a{
    width: 80px;
    height: 30px;
    background-color: #202142;
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

.main-profile-information-mid-card-buttons a:hover{
    background-color: #6b6da5;
}




/*top*/

.main-profile-information-bot{
    margin-top: 70px;
}

.main-profile-information-bot h1 {
    margin-bottom: 20px;
}

.main-profile-information-bot-cards{
    display: flex;
    align-items: center;
}
.main-profile-information-bot-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-right: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 50%);


   
}
.main-profile-information-bot-card:nth-child(2n+1){
   
    background-color: rgba(224, 250, 229, 50%);
}

.main-profile-information-bot-card:nth-child(2n){
   
    background-color: rgba(244, 224, 250, 60%);
}

.main-profile-information-bot-card img{
    width: 22px;
    margin-top: 3px;
}

.main-profile-information-bot-card span{
    margin-right: 20px;
    display: block;

}

#main-profile-information-bot-card-last{

}

#main-profile-information-bot-card-last{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(225, 225, 225, 50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}
#main-profile-information-bot-card-last a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#main-profile-information-bot-card-last img{
    width: 30px;
}

#main-profile-information-bot-card-last:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 50%);

}