<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beslenme Programlarım</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="/css/nutrition-programs.css">
    
</head>
<body> 
    
        
        <h4>slm <%= allergenicFood.name %></h4>

    <script src="/js/popup-nutrition.js"></script>
</body>
</html>