<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body> 
    <div class="main-container">
        <div class="main-form">
            <div class="main-form-top"><h1>Giriş</h1></div>
            <div class="main-form-middle">
                <form action="/users/login" method="POST" id="formid" >
                    <input type="text" name="email" id="Email" placeholder="Eposta">
                    <input type="password" name="password" id="Password" placeholder="Şifre">
                    <a href="#">Şifremi Unuttum</a>
                </form>
            </div>
            <div class="main-form-bottom">
                <button id="login-button" type="submit" form="formid">GİRİŞ YAP</button>
                <span>Veya</span>
                <a href="/register">KAYIT OL</a>
            </div>
        </div>
    </div>
</body>
</html>