<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş Yap</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body> 
    <div class="main-container">
        <div class="main-form">
            <div class="main-form-top"><h1>Giriş</h1></div>
            <div class="main-form-middle">
                <form action="#">
                    <input type="text" name="text" id="text" placeholder="Eposta">
                    <input type="text" name="text" id="text" placeholder="Şifre">
                    <a href="#">Şifremi Unuttum</a>
                </form>
            </div>
            <div class="main-form-bottom">
                <a href="#">GİRİŞ YAP</a>
                <span>Veya</span>
                <a href="#">KAYIT OL</a>
            </div>
        </div>
    </div>
</body>
</html>