<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Detayları</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/profile-detail.css">
</head>
<body> 
    <div class="header">
        <div class="header-logo">
            <a href="#">
                <img id="header-logo-img" src="/images/lifeel-logo.png" alt="bu bir logodur.">
                <h1 id="header-logo-title"> Lifeel </h1>
            </a>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="#">Anasayfa</a></li>
                <li><a href="#">Hizmetler</a></li>
                <li><a href="#">Topluluk</a></li>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">İletişim</a></li>
            </ul>
        </div>
        <div class="header-operations">
            <a href="#">
                <img id="header-operations-logo" src="/images/notifications-logo.png" alt="">
            </a>
            <a id="header-operations-button" href="#">HESABIM</a>
        </div>
    </div>
    <div class="main">
        <div class="main-menu">
            <ul>
                <li><a href="#">Profil Görüntüle</a></li>
                <li><a href="#">Profil Detayları</a></li>
                <li><a href="#">Spor Programlarım</a></li>
                <li><a href="#">Beslenme Programlarım</a></li>
                <li><a href="#">Performans ve Analiz</a></li>
            </ul>
        </div>
        <div class="main-vertical-stick"></div>
        <div class="main-profile-information">
            <div class="main-profile-information-top">
                <h1>Fiziksel Özelliklerim</h1>
                <form action="#">
                    <div class="profile-information-top-form-input">
                        <span>Boy</span>
                        <input disabled type="text" placeholder="183cm">
                    </div>
                    <div class="profile-information-top-form-input">
                        <span>Kilo</span>
                        <input disabled type="text" placeholder="84 kg">
                    </div>
                    <div class="profile-information-top-form-input">
                        <span>Bel Ölçüsü</span>
                        <input disabled type="text" placeholder="72 cm">
                    </div>
                    <div class="profile-information-top-form-input">
                        <span>Yağ Oranı</span>
                        <input disabled type="text" placeholder="%15">
                    </div>
                    <div class="profile-information-top-form-input">
                        <span>V. K. Endeksi</span>
                        <input disabled type="text" placeholder="24 kg/m²"><sup></sup>
                    </div>
                    <button type="submit">Düzenle</button>
                </form>
            </div>
            <div class="main-profile-information-mid">
                <h1>Hobiler ve Aktiviteler</h1>
                <div class="main-profile-information-mid-cards">
                    <div class="main-profile-information-mid-card">
                        <h3>Yüzme</h3>
                        <ul>
                            <li> 2 saat </li>
                            <li> 2 gün / Haftada </li>
                        </ul>
                        <div class="main-profile-information-mid-card-buttons">
                            <a href="#">Düzenle</a>
                            <a href="#">Sil</a>
                        </div>
                    </div>
                    <div class="main-profile-information-mid-card">
                        <h3>Basketbol</h3>
                        <ul>
                            <li> 45 dakika </li>
                            <li> 1 gün / Haftada </li>
                        </ul>
                        <div class="main-profile-information-mid-card-buttons">
                            <a href="#">Düzenle</a>
                            <a href="#">Sil</a>
                        </div>
                    </div>
                    <div id="main-profile-information-mid-card-last">
                        <img src="/images/profile-detail-plus.png" alt="Tıklayınız.">
                    </div>
                </div>
            </div>
            <div class="main-profile-information-bot">
                <h1>Alerjik Yiyecekler</h1>
                <div class="main-profile-information-bot-cards">
                    <div class="main-profile-information-bot-card">
                        <span>Domates</span>
                        <a href="#">
                            <img src="/images/profile-detail-garbage.png" alt="">
                        </a>
                    </div>
                    <div class="main-profile-information-bot-card">
                        <span>Avakado</span>
                        <a href="#">
                            <img src="/images/profile-detail-garbage.png" alt="">
                        </a>
                    </div>
                    <div id="main-profile-information-bot-card-last">
                         <img src="/images/profile-detail-plus.png" alt="Tıklayınız.">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-allergenic-foods">
        <div class="popup-allergenic-foods-card">
            <form action="">
                <div class="popup-allergenic-foods-card-form-text">
                    <label for="food-name-1">Yiyecek İsmi :</label>
                    <input  id="food-name-1"type="text">
                </div>
                <div class="popup-allergenic-foods-card-form-text">
                    <label for="food-name-2">Alerjik Tepkisi : </label>
                    <input id="food-name-2" type="text">
                </div>
                <fieldset>
                    <input type="radio" name="foodtype" id="meyve" > <label for="meyve"> Meyve </label>
                    <input type="radio" name="foodtype" id="sebze" ><label for="sebze"> Sebze </label>
                    <input type="radio" name="foodtype" id="baharat"><label for="baharat"> Baharat </label>
                    <input type="radio" name="foodtype" id="et"><label for="et"> Et ve Süt Ürünleri </label>
                    <input type="radio" name="foodtype" id="diger"><label for="diger"> Diğer </label>
                </fieldset>
                <div class="popup-allergenic-foods-card-form-button">
                    <button type="submit">EKLE</button>
                </div>
            </form>
            <img class="popup-allergenic-foods-card-close-button" src="/images/close.svg" alt="">
        </div>
    </div>
    <div class="popup-hobby-and-activities">
        <div class="popup-hobby-and-activities-card">
            <form action="">
                <div class="popup-hobby-and-activities-card-form-text">
                    <label for="food-name-1">Aktivite Seçin :</label>
                    <select id="activities" name="activities">
                        <option value="basketbol">Basketbol</option>
                        <option value="futbol">Futbol</option>
                        <option value="tenis">Tenis</option>
                        <option value="yüzme">Yüzme</option>
                        <option value="diğer">Diğer</option>
                      </select>
                </div>
                <div class="popup-hobby-and-activities-card-form-text">
                    <label for="food-name-2">Sıklık Derecesi : </label>
                    <select id="cars" name="cars">
                        <option selected value="gün">Günde</option>
                        <option value="hafta">Haftada</option>
                        <option value="ay">Ayda</option>
                        <option value="yıl">Yılda</option>
                      </select>
                      <select id="cars" name="cars">
                        <option  selected value="1">1 Kez</option>
                        <option value="2">2 Kez</option>
                        <option value="3">3 Kez</option>
                        <option value="4">4 Kez</option>
                        <option value="5">5 Kez</option>
                        <option value="6">6 Kez</option>
                        <option value="1">7+ Kez</option>
                      </select>
                </div>
                <div class="popup-hobby-and-activities-card-form-text">
                    <label for="food-name-1">Kaç Dakika :</label>
                    <input type="number" min="0" max="240">
                </div>
                <div class="popup-hobby-and-activities-card-form-button">
                    <button type="submit">EKLE</button>
                </div>
            </form>
            <img class="popup-hobby-and-activities-card-close-button" src="/images/close.svg" alt="">
        </div>
    </div>
    <script src="/js/popup.js"></script>
</body>
</html>