<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="/css/profile.css">
    

</head>
<body> 
    <%- include("partials/_header")%>
    <div class="main">
        <%- include("partials/_menu")%>
        <div class="main-vertical-stick"></div>
        <div class="main-profile-information">
            <div class="main-profile-information-left">
                <img src="/images/profile-avatar.png" alt="">
                <span>Hasan Dursun</span>
                <a href="#">ŞİFRE DEĞİŞTİR</a>
            </div>
            <div class="main-profile-information-right">
                <form action="#">
                    <div class="main-profile-information-right-form-top">
                        <div id="main-profile-information-right-form-top-name">
                            <span>İsim</span>
                            <input disabled type="text" placeholder="Hasan">
                        </div>
                        <div id="main-profile-information-right-form-top-surname">
                            <span>Soyisim</span>
                            <input disabled type="text" placeholder="Dursun">
                        </div>
                    </div>
                    <div class="main-profile-information-right-form-mid">
                        <div id="main-profile-information-right-form-mid-email">
                            <span>Eposta</span>
                            <input  disabled type="email" placeholder="hayatihisset@lifeel.com">
                        </div>
                    </div>
                    <div class="main-profile-information-right-form-bot">
                        <div id="main-profile-information-right-form-bot-name">
                            <span>Doğum Tarihi</span>
                            <input disabled ="date" value="2000-01-01">
                        </div>
                        <div id="main-profile-information-right-form-top-surname">
                            <span>Cinsiyet</span>
                            <input disabled type="text" placeholder="Erkek">
                        </div>
                    </div>
                    <button type="submit">Profil Düzenle</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>