@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*main*/

.main{
    display: flex;
    padding: 50px 100px;
}

.main-vertical-stick{
    width: 1px;
    height: 350px;
    border: 1px solid #878787;
    margin-left: 50px;
    margin-right: 80px;
}

/*main-profile-information*/
.main-profile-information{
    display: flex;
    align-items:  flex-end;
}

.main-profile-information-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}
.main-profile-information-left img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    
}

.main-profile-information-left span{
    font-family: "Poppins", sans-serif;
    color: #202142;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 80px;
}

.main-profile-information-left a{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    width: 220px;
    height: 40px;
    background-color: #202142;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

.main-profile-information-left a:hover{
    background-color: #60617d;
}

.main-profile-information-right-form-top{
    display: flex;
    margin-bottom: 30px;
}

.main-profile-information-right-form-top input{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #C3C3E4;
    padding:  0px 8px;
    outline: none;
    font-size: 19px;
    
    
}


#main-profile-information-right-form-top-name{
    margin-right: 25px;
}
.main-profile-information-right-form-top span{
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
    color: #818181;
}

.main-profile-information-right-form-mid{
    display: flex;
    margin-bottom: 35px;
}

.main-profile-information-right-form-mid span{
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}

.main-profile-information-right-form-mid input{
    width: 305px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #C3C3E4;
    padding:  0px 8px;
    outline: none;
    font-size: 19px;
}


.main-profile-information-right-form-bot{
    display: flex;
    margin-bottom: 35px;
}


.main-profile-information-right-form-bot input{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #C3C3E4;
    padding:  0px 8px;
    outline: none;
    font-size: 19px;
}

#main-profile-information-right-form-bot-name{
    margin-right: 25px;
}
.main-profile-information-right-form-bot span{
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}

.main-profile-information-right button{
    width: 300px;
    height: 40px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background-color: #202142;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.main-profile-information-right button:hover{
    background-color: #60617d;
}