@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*main*/

.main{
    display: flex;
    padding: 50px 100px;
}

.main-vertical-stick{
    width: 1px;
    height: 350px;
    border: 1px solid #878787;
    margin-left: 50px;
    margin-right: 60px;
}

/*m*/
#main-sports-title{
    margin-bottom: 25px;
}

.main-sports-programs {
    background-color: rgba(224, 224, 224, 27%);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
    padding: 55px 70px;


}

.main-sports-programs-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-sports-programs-card{
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 34px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.main-sports-programs-card{
    margin-right: 70px;
    border-radius: 34px;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);

}
.main-sports-programs-card:last-child{
    margin-right: 0px;
}
.main-sports-programs-card:hover{
    box-shadow: 1px 1px 15px #ababab;

}
.main-sports-programs-card ul{
    margin-top: 25px;
}
.main-sports-programs-card ul li {
    margin-bottom: 10px;
    list-style-type: disc;
}

.main-sports-programs-card-little{
    min-width: 210px;
    min-height: 270px;
}

.main-sports-programs-card-little ul li {
    font-size: 14px;
}

.main-sports-programs-card-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 35px;
    background-color: #F6F9FE;
    border-radius: 25px;
    position: absolute;
    top: -15px;
    left: calc(50% - 50px );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);

}

.main-sports-programs-card-big{
    min-width: 270px;
    min-height: 350px;  
}

.main-sports-programs-card-big a{
    margin-top: 20px; 
    text-decoration: none;
    background-color: #8EFA21;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}

.main-sports-programs-card-big a:hover{
    background-color: #c5ff8b; 
    color:#000;
}

.main-sports-programs-card-date span {
    font-size: 20px;
}


.main-sports-programs-card:nth-child(1){
   background-color: #C9FFDE;
}
.main-sports-programs-card:nth-child(2){
    background-color: rgba(0, 102, 255, 10%);
}
.main-sports-programs-card:nth-child(3){
    background-color: rgba(232, 167, 255, 27%);
}


/*bar*/

.main-sports-programs-progress-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.main-sports-programs-progress-bar-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-sports-programs-progress-bar-first span{
    font-size: 14px;
}

.main-sports-programs-progress-bar-last span{
    font-size: 14px;
}

.main-sports-programs-progress-bar-last{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shape-1{
    width: 500px;
    height: 30px;
    position: relative;
    background: linear-gradient(90deg, #8EFA21 50%, #D9D9D9 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.shape-1 span {
    font-size: 15px;
}

.shape-1:after{
    position: absolute;
    content: "";
    display: block;
    width: 100px;
    border-top: 25px solid transparent;
    border-left: 50px solid #D9D9D9;
    border-bottom: 25px solid transparent;
    right: -100px;
    top: -10px;
}


/*pop-up*/
/*sports*/
.popup-sports-progress{
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 75%);
    position: fixed;

}
.popup-sports-progress-card{
    background-color: white;
    padding: 60px 80px 50px 80px;
    border-radius: 10px;
    position: relative;
}

.popup-sports-progress-card-form-header {
    margin-bottom: 20px;    
    font-size: 18px;
}

.popup-sports-progress-card-form-list{
    margin-bottom: 40px;   
}
/*son popup*/
#popup-sports-progress-3 .popup-sports-progress-card-form-list {
    background-color: #FFE7E7;
    border-radius: 10px;
    padding: 10px 0px 5px 10px;   
    margin-bottom: 15px;   
}

.popup-sports-progress-card-form-question ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.popup-sports-progress-card-form-question ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-sports-progress-card-form-question ul li:first-child{
    margin-right: 45px;
}




.popup-sports-progress-card-form-list li{
    margin-bottom: 10px;   
    display: flex;
    align-items: center;
}
.popup-sports-progress-card-form-list li img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.popup-sports-progress-card-form-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-sports-progress-card-form-button button {
    background-color: #DADADA;
    width: 140px;
    height: 35px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;

}

.popup-sports-progress-card-form-button button:hover {
    background-color: #afafaf;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);

}

.popup-sports-progress-card-close-button{
        position: absolute;
        top: 7px;
        right: 7px;
        cursor: pointer;
        width: 30px;
}



